body{
    margin: 0%;
    padding: 0%;
}

.image-back{
  background: url('http://school.test/assets/images/pexels-pixabay-2097.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:  calc(100vh - 20px) ;
}

p{
    color: rgb(222, 96, 184) !important;
}


.image-back  .learn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}
.learn h1{
    font-size: 50px;
     color: rgb(92, 209, 92) ;
} 

 h1{
  color: rgb(92, 209, 92);
}

.our-team .row .col{
    background: url('http://school.test/assets/user_male.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
}


.number-members{
    background-color: #16b816;
    width: 100%;
    height: 200px;
 
    margin-top: 10px;
}
.number-members .row .col i {
   font-weight: bold;
   font-size: 40px;
}